<div id="wrapper"></div>

<script src="/js/lib/jquery-1.7.2.min.js"></script>
<script src="/js/lib/underscore-min.js"></script>
<script src="/js/app/templates.js"></script>
<script src="/js/app/buttons.js"></script>
<script src="/js/app/user.js"></script>
<script src="/js/app.js"></script>