* { margin: 0; padding: 0; }

html { -webkit-font-smoothing: antialiased; }

body, html { height: 100% ;}

body {
    color: #444;
    text-align: center;
    background-image: linear-gradient(bottom, rgb(241,242,245) 0%, rgb(216,222,227) 100%);
    background-image: -o-linear-gradient(bottom, rgb(241,242,245) 0%, rgb(216,222,227) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(241,242,245) 0%, rgb(216,222,227) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(241,242,245) 0%, rgb(216,222,227) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(241,242,245) 0%, rgb(216,222,227) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(241,242,245)),
        color-stop(1, rgb(216,222,227))
    );

    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/lower-right-x.png) bottom right no-repeat;
}

.slide {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
}

#home-slide {

}

#home-slide p {
    font-size: 36px;
    font-weight: 200;
    display: block;
    margin-bottom: 30px;
}

    #home-slide p strong {
        font-weight: 400px !important;
    }

#user_info_slide-slide {

}

#user_info_slide-slide #user_info_form {

    width: 500px;
    margin: 0 auto;
    text-align: left;
}
    
    #user_info_slide-slide #user_info_form section.field {
        margin-bottom: 20px;
    }

    #user_info_slide-slide #user_info_form p.label {
        font-weight: bold;
        font-size: 18px;
    }

    #user_info_slide-slide #user_info_form input[type="text"],
    #user_info_slide-slide #user_info_form input[type="email"] {
        width: 490px;
        padding: 5px;
        font-size: 20px;
    }

    #user_info_slide-slide #user_info_form section.left-field {
        float: left;
        width: 45%;
    }

    #user_info_slide-slide #user_info_form section.right-field {
        margin-left: 50%;
        display: block;
    }

    #user_info_slide-slide #user_info_form section select {
        width: 250px;
        font-size: 20px;
    }

    #user_info_slide-slide #user_info_form section.left-field select {
        width: 240px;
    }

#question-arbesko-slide h1,
#question-stalex-slide h1 {
    margin-bottom: 20px;
    font-size: 64px;
    color: #555;
}

#prompt_slide-slide h2 {
    color: #555;
    font-size: 36px;
    margin-bottom: 10px;
}

#prompt_slide-slide p {
    font-size: 20px;
    margin-bottom: 15px;
}

#vote_slide-slide .shoe-box {
    width: 750px;
    height: 350px;
    background: #FFF;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}

    #vote_slide-slide .shoe-box img {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    /* center product images */
    img#product-photo-carmine_red { margin-top: -134px; margin-left: -325px; }
    img#product-photo-ghost_white { margin-top: -116px; margin-left: -328px; }
    img#product-photo-hot_pink { margin-top: -130px; margin-left: -325px; }
    img#product-photo-pale_blue { margin-top: -140px; margin-left: -304px; }

#success_slide-slide h3 {
    font-size: 32px;
    font-weight: 200 !important;
    line-height: 46px;
    margin: 0 0 20px 0;
    padding-top: 300px;
}

    #success_slide-slide h3 strong {
        font-weight: 600 !important;
    }

    #wrapper i.ipod-nanos {
        width: 649px;
        height: 318px;
        display: none;
        position: absolute;
        top: 0 !important;
        right: 0;
        background: url(/img/ipod-nanos.png) 0 0 no-repeat;
    }

button.btn {
    border-radius: 50px;
    height: 50px;
    border: 1px solid #0076ac;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(0,146,255)),
        color-stop(1, rgb(0,197,255))
    );
    color: #FFF;
    font: bold 26px/50px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-shadow: 0 1px 1px #006eac;
    padding: 0 40px;
    margin-right: 15px;
}

section.vote-bar {
    border-radius: 50px;
    margin: 30px auto 20px auto;
    padding: 0 10px;
}

    section.vote-bar a {
        padding: 0 20px;
        text-align: center;
        display: inline-block;
        font: bold 26px/50px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        text-shadow: 0 1px 1px #006eac;
        color: #FFF;
        border-right: 1px solid #0085b1;
        border-left: 1px solid #00c4ff;

        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(0,146,255)),
            color-stop(1, rgb(0,197,255))
        );

        border-top: 1px solid #0076ac;
        border-bottom: 1px solid #0076ac;
    }

    section.vote-bar a.selected {
        background: rgba(0,0,0,0.1);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(0,177,229)),
            color-stop(1, rgb(0,131,229))
        );
        box-shadow: inset 0px 5px 5px rgba(0,0,0,0.5);
        border-left: none;
        padding-left: 21px;
    }

    section.vote-bar a:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 30px;
    }

    section.vote-bar a:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-right: 30px;
    }

p.vote-notice {
    font-size: 18px;
    display: none;
}

table {
    width: 90%;
    margin: 50px auto;
    border: 1px solid #999;
    border-radius: 5px;
}

table thead tr {
    background: #CCC;
    font-weight: bold;
}

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}